<!DOCTYPE html>
<html>

<head>
  <title>admin</title>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/admin.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
      <a class="navbar-brand" href="/"><img src="/images/logo1.jpg" width="50px" height="50px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
        aria-controls="navbarContent" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Home</a>
          </li>
        </ul>
        <span class="nav-item">
          <a class="nav-link" href="/adim/profile"><i class="fas fa-user">&nbsp;</i><%=email%></a>
        </span>
      </div>
    </nav>
    <div class="row row-container">
      <div class="col-md-2">
        <%- include('../partials/sidenav'); %>
      </div>
      <div class="col-md-10">
        <!--  two-card -->
        <div class="row row-cards">
          <div class="col-md-5 card-div">
            <div class="card" style="width: 20rem;">
              <a href="#products" class="nav-link">
                <div class="card-body">
                  <h4 class="nav-link">
                    <i class="fa fa-tag">&nbsp;</i>Products
                  </h4>
                  <p class="number"><%=numberProduct%></p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-5 card-div">
            <div class="card" style="width: 20rem;">
              <a href="/admin/orders" class="nav-link">
                <div class="card-body">
                  <h4 class="nav-link">
                    <i class="fa fa-cart-arrow-down">&nbsp;</i>Orders
                  </h4>
                  <p class="number"><%=numberOrder%></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="row-table" id="products">
          <div class="col-md-12">
            <p class="heading">All Products</p>
            <table id="example" class=" display" width="100%">
              <thead>
                <th scope="col">ProductId</th>
                <th scope="col">UserId</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Cateory</th>
                <th scope="col">Email</th>
                <th scope>Date</th>
              </thead>
              <tbody>
                <% products.forEach(product => {%>
                <tr class="view">
                  <td><%=product.product_id%></td>
                  <td><%=product.user_id%></td>
                  <td><%=product.product_name%></td>
                  <td><%=product.product_price%></td>
                  <td><%=product.category_name%></td>
                  <td><%=product.user_email%></td>
                  <td><%=product.product_date%></td>
                  <!-- <td><i class="fa fa-trash"></i></td> -->
                </tr>
                <%}) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <a href="#" class="nav-link"><i class="fa fa-facebook-official"></i></a>
      <a href="#" class="nav-link"><i class="fa fa-pinerest"></i></a>
      <a href="#" class="nav-link"><i class="fa fa-instagram"></i></a>
      <a href="#" class="nav-link"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="nav-link"><i class="fa fa-twitter"></i></a>
    </footer>
  </div>
  <%- include('../partials/footer'); %>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#example').DataTable();
    });
  </script>
  <script src="/js/admin.js"></script>
</body>

</html>